<div class="container">
  <div class="signup-form">
    <center><p class="signup_login_text">Edit Profile</p></center>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :clinic_id, label: "Clinic ID:" %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password %>
  <div class="form-actions">
    <%= f.button :submit, "Update",class: "signup_button" %>
  </div>
<% end %>
<%= link_to "Back", :back, class: "login_button" %>
</div>
