<div class="container">		
	<div class="jumbotron" style="min-height: 100px;padding: 15px;"> 
		<% if @patients.count ==0 %>
			<center><h1>There are no patients</h1></center>
		<% else %>
			<table class="table">
				<tr>
		    		<th>Name</th>
		    		<th>Blood Type</th>
		    		<th>Address</th>
		    		<th>Alergies</th>
		  		</tr>
				<% @patients.each do |patient|%>
					<tr>
						<td><%= patient.fname+" "+patient.lname%></td>
						<td><%= patient.bloodtype%></td>
						<td><%= patient.address%></td>
						<td><%= patient.alergies%></td>
						<td><%= link_to "View Record", patient_path(patient)%></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>
